.pointer_shamir {
    cursor: pointer;
}
.panel-size_shamir {
    width: 900px;
}
#largeImgPanel {
    text-align: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    background-color: rgba(100,100,100, 0.5);
}     